[Unit]
Description=etcd2
Documentation=https://github.com/etcd-io/etcd

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

# 假设etcd部署在目录“/opt/html/learn-etcd/bin/etcd-v3.5.2-linux-amd64/”下。
ExecStart=/opt/html/learn-etcd/bin/etcd-v3.5.2-linux-amd64/etcd --name etcd2 \
    --data-dir /opt/html/learn-etcd/bin/etcd-v3.5.2-linux-amd64/etcd2.etcd \
    --listen-client-urls http://127.0.0.1:22379 \
    --advertise-client-urls http://127.0.0.1:22379 \
    --listen-peer-urls http://127.0.0.1:22380 \
    --initial-advertise-peer-urls http://127.0.0.1:22380 \
    --initial-cluster etcd1=http://127.0.0.1:12380,etcd2=http://127.0.0.1:22380,etcd3=http://127.0.0.1:32380 \
    --initial-cluster-token my-etcd-cluster-token \
    --initial-cluster-state new

[Install]
WantedBy=multi-user.target